<div class="flex align-items-center justify-content-center min-w-screen overflow-hidden my-4">
  <div class="surface-card p-4 shadow-2 border-round w-full lg:w-5 md:w-5 sm:w-full">
    <div class="text-center mb-5">
      <div class="text-800 text-lg font-medium mb-2">Sube un nuevo producto</div>
      <span class="text-sm line-height-2 text-blue-500"><i class="pi pi-info-circle"></i>Los campor marcados con (*) son obligatorios</span>
    </div>
    <div [formGroup]="formPublication">
      <label for="titulo" class="block text-sm font-medium mb-2">Titulo (*)</label>
      <input pInputText id="titulo" type="text" class="w-full p-inputtext-sm" formControlName="titulo" autofocus>
      <small class="p-error block mb-3" *ngIf="formPublication.controls['titulo'].touched && formPublication.get('titulo')?.hasError('required')">Campo titulo obligatorio o no valido</small>

      <small class="p-error block mb-3" *ngIf="formPublication.get('titulo')?.hasError('minlength')">Campo titulo debe tener minimo 8 caracteres</small>

      <label for="resumen" class="block text-sm font-medium mt-3">Resumen (*)</label>
      <textarea id="resumen" rows="5" cols="30" pInputTextarea [autoResize]="true" class="w-full" formControlName="resumen"></textarea>
      <small class="p-error block mb-3" *ngIf="formPublication.controls['resumen'].touched && formPublication.get('resumen')?.hasError('required')">Campo de resumen obligatorio</small>

      <div class="flex">
        <div class="lg:col-6 md:col-6 sm:col-12 col-12">
          <label for="anio" class="block text-sm font-medium mt-3">Año de publicación (*)</label>
          <input pInputText id="anio" type="number" class="w-full p-inputtext-sm" formControlName="gestion">
          <small class="p-error block mb-3" *ngIf="formPublication.controls['gestion'].touched && formPublication.get('gestion')?.hasError('required')">Campo de gestion obligatorio</small>
          <small class="p-error block mb-3" *ngIf="formPublication.get('gestion')?.hasError('min')">Campo de gestion debe ser mayor al año 1000</small>
          <small class="p-error block mb-3" *ngIf="formPublication.get('gestion')?.hasError('max')">Campo de gestion debe ser menor al año {{actualYear}}</small>
        </div>

        <div class="lg:col-6 md:col-6 sm:col-12 col-12">
          <label class="block text-sm font-medium mt-3">Categoria (*)</label>
          <p-dropdown id="categoria" [options]="categories" optionLabel="categoria" optionValue="id" placeholder="Seleccione una categoría" formControlName="categoria"></p-dropdown>
          <!-- Manejo de errores -->
          <small class="p-error block mb-3" *ngIf="formPublication.controls['categoria'].touched && formPublication.get('categoria')?.hasError('required')">Campo de categoría obligatorio</small>
        </div>

    </div>

        <label for="imagen" class="block text-sm font-medium mt-3">Imagen del documento (*) (Max. 5MB)</label>
        <input pInputText id="imagen" type="file" class="w-full p-inputtext-sm" accept="image/" formControlName="imagen"
        (change)="changeInputImage($event)">
        <small class="p-error block" *ngIf="formPublication.controls['imagen'].touched && formPublication.get('imagen')?.hasError('required')">Campo imagen obligatoria</small>
        <small class="p-error block" *ngIf="imageError">la imagen debe tener un formato image y pesar max 3MB</small>

        <label for="pdf" class="block text-sm font-medium mt-3">PDF del documento (*) (Max. 5MB)</label>
        <input pInputText id="pdf" type="file" class="w-full p-inputtext-sm" accept="application/pdf" formControlName="pdf"
        (change)="changeInputPDF($event)">
        <small class="p-error block" *ngIf="formPublication.controls['pdf'].touched && formPublication.get('pdf')?.hasError('required')">Campo PDF obligatorio</small>
        <small class="p-error block" *ngIf="pdfError">EL documento debe tener un formato pdf y pesar max 10MB</small>

        <div class="w-full flex align-items-center justify-content-center">
          <button pButton [disabled]="formPublication.invalid" [loading]="isLoading" (click)="createPublication()" label="Crear documento"icon="pi pi-plus" class="mt-4 p-button-sm"></button>
        </div>
    </div>
  </div>
</div>
