<div class="surface-0 bg-blue-50 flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
  <div class="surface-card p-4 shadow-2 border-round w-full lg:w-4">
      <div class="text-center mb-5">
          <img src="assets/images/hyper.svg" alt="Image" height="50" class="mb-2 mt-3 cursor-pointer">
          <div class="text-800 text-xl font-medium mb-2">Bienvenido <a class="cursor-pointer no-underline text-blue-500">Docs.</a></div>
          <span class="text-sm line-height-2">¿No tienes una cuenta?</span>
          <a class="text-sm no-underline ml-2 text-blue-500 cursor-pointer" routerLink="/register">Registrarse</a>
        </div>
        <form [formGroup]="formLogin" (submit)="loginUser()">
          <label for="email" class="block text-sm font-medium mb-2">Correo electronico</label>
          <input pInputText id="email" type="text"
            class="w-full p-inputtext-sm" autofocus formControlName="email"/>
            <small class="p-error block mb-3"
            *ngIf="formLogin.controls['email'].touched && formLogin.get('email')?.hasError('required')">El correo es obligatorio</small>
            <small class="p-error block mb-3"
            *ngIf="formLogin.get('email')?.hasError('email')">El correo debe tener un formato valido.</small>

          <label for="password" class="block text-sm font-medium mt-3">Contraseña</label>
          <input pInputText id="password" type="password"
          class="w-full p-inputtext-sm" formControlName="password"/>
          <small class="p-error block mb-3"
          *ngIf="formLogin.controls['password'].touched && formLogin.get('password')?.hasError('required')">La contraseña es obligatoria</small>

          <div class="flex align-items-center justify-content-between">
            <div class="flex align-items-center mt-3">
              <span class="text-sm ml-1 cursor-pointer text-blue-500 underline">¿Olvidate tu contrseña?</span>
            </div>
          </div>

          <div class="w-full flex align-items-center justify-content-center">
            <p-button type="submit" label="Iniciar sesión" icon="pi pi-user" class="mt-3"
            [loading]="isLoading"
            [disabled]="formLogin.invalid"></p-button>
          </div>
        </form>
  </div>
</div>

<p-toast position="bottom-right"></p-toast>
