
<div class="py-4 px-8 mx-0 mt-4 bg-blue-50">
  <div class="grid justify-content-between">
    <div class="col-12 md:col-3" style="margin-top: -1.Srem;">
      <a class="flex flex-wrap align-items-center justify-content-center md:justify-content-start md:mb-0 mb-3 cursor-pointer">
        <img src="assets/images/hyper.svg" alt="footer sections" width="50" height="50" class="mr-2">
        <h4 class="font-medium text-xl text-900">Repository</h4>
      </a>
    </div>

    <div class="col-12 md:col-9 lg:col-7">
      <div class="grid text-center md:text-left">
        <div class="col-12 md:col-3 mt-4 md:mt-0">
          <h4 class="font-medium text-base line-height-3 mb-3 text-900">Enlaces</h4>
          <a class="line-height-3 text-sm block cursor-pointer mb-2 text-700" routerLink="/">Inicio</a>
          <a class="line-height-3 text-sm block cursor-pointer mb-2 text-700" routerLink="/publications">Publicaciones</a>
          <a class="line-height-3 text-sm block cursor-pointer mb-2 text-700" routerLink="/register">Crear cuenta</a>
        </div>

        <div class="col-12 md:col-3 mt-4 md:mt-0 ">
          <h4 class="font-medium text-base line-height-3 mb-3 text-900">Contactos</h4>
          <a class="line-height-3 text-sm block cursor-pointer mb-2 text-700">Correo electronico</a>
          <a class="line-height-3 text-sm block cursor-pointer text-700">Nuestro twitter</a>
        </div>
      </div>
    </div>

  </div>
</div>
