<!-- <a routerLink="">Home </a>
<a routerLink="publications">Publciations </a>
<a routerLink="publication">Publication </a> -->
<div class="py-3 px-4 mx-0 md:px-10 lg:px-8 flex align-items-center justify-content-between relative lg:static bg-blue-50">
  <a class="flex align-items-center no-underline" routerLink="">
    <img src="assets/images/hyper.svg" alt="App logo" height="40" class="mr-0 lg:mr-2"/>
    <span class="text-900 font-medium text-base line-height-3 mr-3">Repository</span>
  </a>
  <div class="align-items-center surface-0 flex-grow-1 justify-content-between hidden lg:flex absulate lg:static w-full left-0 px-6 lg:px-0 z-2 bg-blue-50" style="top=92%">
    <ul class="list-none p-0 m-0 flex lg:align-items-center select-none flex-column lg:flex-row cursor-pointer">

      <li>
        <a class="flex m-0 md:ml-5 px-0 py-3 text-900 text-sm line-height-1 no-underline" routerLink="" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true }">
          <span>Inicio</span>
        </a>
      </li>
      <li>
        <a class="flex m-0 md:ml-5 px-0 py-3 text-900 text-sm line-height-1 no-underline" routerLink="publications" routerLinkActive="active">
          <span>Publicaciones</span>
        </a>
      </li>
      <li>
        <form autocomplete="off">
          <span class="p-input-icon-right">
            <i class="pi pi-search"></i>
            <input type="search" name="termino" pInputText class="md:ml-5 p-inputtext-sm w-15rem" placeholder="Termino busqueda"/>
          </span>
        </form>
      </li>
    </ul>
    <!-- Mostar por defecto si no hay autentificaion -->
    <div class="flex justify-content-between lg:block border-top-1 lg:border-top-none surface-border py-3 lg:py-0 mt-3 lg:mt-0" *ngIf="!authService.isAuth">
      <button routerLink="login" pButton label="Inicio de sesión" class="p-button-text p-button-rounded border-none font-light line-height-1 text-blue-500 text-sm"></button>
      <button routerLink="register" pButton label="Registrate" class="p-button-rounded border-none ml-5 font-light line-height-1 bg-blue-500 text-white text-sm"></button>
    </div>
    <!-- Mostrar cunado haya autenticacion  -->
    <div class="p-toolbar-group-left" *ngIf="authService.isAuth">
      <p-splitButton [label]="authService.userAuth?.email" [model]="this.items" styleClass="p-button-text text-sm"></p-splitButton>
    </div>
  </div>
</div>
