<div class="w-full min-w-screen overflow-hidden my-5"
*ngIf="isLoadingPage">
  <div class="flex justify-content-between align-items-center">
    <div class="lg:col-6 md:col-6 sm:col-12 col-12" >
      <!-- Cargar loading -->
      <app-loading-list></app-loading-list>
    </div>
  </div>
</div>

<ng-template [ngIf]="!isLoadingPage && !publication">
  <!-- Cargar not found component -->
  <app-not-found></app-not-found>
</ng-template>

<div class="flex justify-content-center"
*ngIf="!isLoadingPage && publication">
  <div class="px-4 lg:mx-8 lg:col-8 md:col-8 col-12 mt-4">
    <div class="text-center">
      <h2 class="text-900 text-base mb-2">{{publication.titulo}}</h2>
      <span class="text-600 text-base">{{publication.categoria_id}}</span>
    </div>

    <div class="grid mt-5 pb-2 md:pb-3 justify-content-center">
      <div class="flex justify-content-center align-items-center lg:col-6 md:col-8 col-12 bg-purple-100 mb-2">
        <img src="assets/images/no-image.png" alt="image">
      </div>
      <div class="col-12 lg:col-12 md:col-12 col-12 my-auto flex flex-column lg:align-items-center text-center">
        <div class="flex align-items-center justify-content-center">
            <div class="flex align-items-center justify-content-center bg-red-200 align-self-center" style="padding: 12px; border-radius: 10px;">
              <i class="pi pi-fw pi-heart text-xl text-red-700"></i>
            </div>
            <div class="flex align-items-center justify-content-center bg-blue-200 align-self-center mx-2 cursor-pointer" style="padding: 12px; border-radius: 10px;">
              <i class="pi pi-fw pi-trash text-xl text-blue-700"></i>
            </div>
            <div class="flex align-items-center justify-content-center bg-green-200 align-self-center cursor-pointer" style="padding: 12px; border-radius: 10px;">
              <i class="pi pi-fw pi-pencil text-xl text-green-700"></i>
            </div>
          </div>

          <span class="text-700 text-base text-justify line-height-3 mt-3" style="max-width: 650px;" >{{publication.resumen}}</span>

          <div class="flex justify-content-between w-auto mt-4">
            <p-chip [label]="'Publicado: '+publication.gestion_de_publicacion" icon="pi pi-clock"></p-chip>

            <p-chip [label]="'Autor: '+publication.usuario_id" icon="pi pi-user" styleClass="bg-purple-200 mx-2 text-purple-700 cursor-pointer"></p-chip>

            <p-chip icon="pi pi-download" styleClass="custom-chip cursor-pointer">
              <a class="my-2 mx-1 text-red-700 no-underline" target="_blank">Descargar PDF</a>
            </p-chip>

            <p-chip icon="pi pi-flie-pdf" styleClass="custom-chip-y ml-2 cursor-pointer">
              <a class="my-2 mx-1 text-yellow-700 no-underline" target="_blank">Ver PDF</a>
            </p-chip>
          </div>
        </div>

        <div class="flex justify-content-center mt-4 w-full">
          <span class="cursor-pointer text-blue-600" routerLink="/"><i class="pi pi-arrow-left"></i> Regresar</span>
        </div>
      </div>
    </div>
</div>

<p-toast position="bottom-right"></p-toast>

<!-- Inicio estilos CSS para el componente -->
<!-- Fin de estilos del componente -->



