<div class="surface-0 bg-blue-50 flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="surface-card p-4 shadow-2 border-round w-full lg:w-4">
        <div class="text-center mb-5">
            <img src="assets/images/hyper.svg" alt="Image" height="50" class="mb-2 mt-3 cursor-pointer">
            <div class="text-800 text-xl font-medium mb-2">Bienvenido <a class="cursor-pointer no-underline text-blue-500">Docs.</a></div>
            <span class="text-sm line-height-2">¿Ya tienes una cuenta?</span>
            <a class="text-sm no-underline ml-2 text-blue-500 cursor-pointer" routerLink="/login">Iniciar sesión</a>
          </div>
          <div [formGroup]="formRegister">
            <label for="name" class="block text-sm font-medium mb-2">Nombre Completo </label>
            <input pInputText id="name" type="text"
            class="w-full p-inputtext-sm" autofocus formControlName="nombres"/>
            <small class="p-error block mb-3"
            *ngIf="formRegister.controls['nombres'].touched && formRegister.get('nombres')?.hasError('required')">Campo nombre obligatorio</small>
            <small class="p-error block mb-3"
            *ngIf="formRegister.get('nombres')?.hasError('minlength')">El nombre debe tener minimo 5 caracteres</small>

            <label for="email" class="block text-sm font-medium mt-3">Correo electronico</label>
            <input pInputText id="email" type="email"
            class="w-full p-inputtext-sm" autofocus formControlName="email"/>
            <small class="p-error block mb-3"
            *ngIf="formRegister.controls['email'].touched && formRegister.get('email')?.hasError('required')">El correo es obligatorio</small>
            <small class="p-error block mb-3"
            *ngIf="formRegister.get('email')?.hasError('email')">El correo debe tener un fomrato valido.</small>

            <label for="password" class="block text-sm font-medium mt-3">Contraseña</label>
            <input pInputText id="password" type="password"
            class="w-full p-inputtext-sm" formControlName="password"/>
            <small class="p-error block mb-3"
            *ngIf="formRegister.controls['password'].touched && formRegister.get('password')?.hasError('required')">La contraseña es obligatoria</small>
            <small class="p-error block mb-3"
            *ngIf="formRegister.getError('strongPassword', 'password') as error">{{ error }}</small>

            <div class="flex align-items-center justify-content-between">
              <div class="flex align-items-center mt-3">
                <p-checkbox type="checkbox" inputId="binary" [binary]="true" formControlName="terminos"/>
                <label for="binary" class="text-sm ml-1">Aceptar los </label><span class="text-sm ml-1 cursor-pointer text-blue-500 underline">Terminos y condiciones</span>
              </div>
            </div>
            <small class="p-error block mb-3"
             *ngIf="formRegister.controls['terminos'].touched && formRegister.get('terminos')?.hasError('required')">
            Debe aceptar los terminos y condiones.</small>

            <div class="w-full flex align-items-center justify-content-center">
              <p-button label="Registrar" icon="pi pi-user" class="mt-3"
              [loading]="isLoading"
              [disabled]="formRegister.invalid"
              (click)="registerUser()"></p-button>
            </div>
        </div>
    </div>
</div>
<p-toast position="bottom-right"></p-toast>
