<div id="home" class="surface-0 bg-aqua overflow-hidden min-h-screen">
  <div class="flex align-items-center justify-content-center min-w-screen overflow-hidden my-8">
    <div class="text-center">
      <h2 class="text-900 text-7xl mb-0">404</h2>
      <h2 class="text-900 font-normal mb-4">Pagina no encontrada</h2>
      <span class="text-600 text-base text-blue-600">
        <i class="pi pi-times"></i>NO existe el recuso solicitado en la app <a routerLink="">&#x2190;ir al inicio</a>
      </span>
    </div>
  </div>
</div>
